@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Montserrat:ital,wght@0,300;0,600;0,700;1,600&family=Noto+Sans+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.sign-in {
    background-color: rgb(155, 122, 122);
    width: 70%;
    height: 100vh;
    padding: 20px;
    color: white;
}

.sign-in-header {
    display: flex;
    justify-content: flex-start;
    font-size: 120%;
    cursor: pointer;
    color: white;
}

.sign-in-header a {
    text-decoration: none;
    color: white;
}

.fa-angle-left {
    padding-right: 8px;
}

.sign-in-body {
    margin-top: 100px;
}

.sign-in-body-icon {
    font-size: 350%;
    text-align: center;
    margin-bottom: 30px;
}

.fa-chess-rook:hover {
    transform: scale(1.1);
    transition: transform 0.2s linear;
}

.sign-in-body-text {
    display: flex;
    justify-content: center;
}

.sign-in-body-text a {
    padding-left: 8px;
}


.sign-in-form {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.sign-in-input {
    font-size: 16px;
    padding: 16px;
    border: none;
    background-color: rgb(155, 122, 122);
    color: white;
    border-bottom: 1px solid rgb(144, 70, 70);
    width: 300px;
    outline: none;
}

.sign-in-input:focus {
    border-bottom: 2px solid white;
}

::placeholder {
    color: rgb(206, 192, 192);
}

.sign-in-btn {
    margin-top: 30px;
    font-size: 16px;
    width: 300px;
    padding: 16px 0px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
}

.sign-in-btn:hover {
    transform: scale(1.1);
    transition: transform 0.2s linear;
}