@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Montserrat:ital,wght@0,300;0,600;0,700;1,600&family=Noto+Sans+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.sign-in {
    /* background-color: rgb(155, 122, 122); */
    background-image: url("https://thumbs.dreamstime.com/b/chess-game-knight-waiting-right-time-to-move-business-strategy-competitive-concept-copy-space-146478523.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: repeat;
    background-size: cover;
    padding: 20px;
    color: white;
}

.sign-in-header {
    display: flex;
    justify-content: flex-start;
    font-size: 120%;
    cursor: pointer;
    color: white;
}

.sign-in-header a {
    text-decoration: none;
    color: rgb(189, 142, 142);
}

.fa-angle-left {
    padding-right: 8px;
    color: rgb(189, 142, 142);
}

.sign-in-body {
    margin-top: 100px;
    border: 1px solid rgb(155, 122, 122);
    width: 40%;
    height: 80vh;
    padding-top: 20px;
    margin: 50px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
}

.sign-in-body-icon {
    font-size: 350%;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(155, 122, 122);
}

.fa-chess-rook:hover {
    transform: scale(1.1);
    transition: transform 0.2s linear;
}

.sign-in-body-text {
    display: flex;
    justify-content: center;
}

.sign-in-body-text p {
    color: rgb(155, 122, 122);
}

.sign-in-body-text a {
    padding-left: 8px;
    color: white;
}


.sign-in-form {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.sign-in-input {
    font-size: 16px;
    padding: 16px;
    margin-top: 10px;
    border: 3px solid transparent;
    border-radius: 10px;
    /* background-color: rgb(155, 122, 122); */
    /* border-bottom: 2px solid rgb(255, 255, 255, 0.3); */
    width: 300px;
    outline: none;
    transition: border 0.15s linear;
}

.sign-in-input:focus {
    border: 3px solid rgb(189, 142, 142)
}

::placeholder {
    color: rgb(206, 192, 192);
}

.sign-in-btn {
    margin-top: 30px;
    font-size: 16px;
    width: 300px;
    padding: 16px 0px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(155, 122, 122);
}

.sign-in-btn:hover {
    transform: scale(1.1);
    transition: transform 0.2s linear;
}